.containerInput {
    align-items: end;
    left: 0;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 25px;
    gap: 10px; 
  }

.input_buscar {
    width: 50% !important;
}

@media (max-width: 900px) {

    .input_buscar {
        width: 100% !important;
    }

    .App {
        padding: 40px 5px;
    }

    .containerInput{
        padding-bottom: 15px;
    }
}

.input-button-height {
    height: 38px; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
    line-height: 1.5;
  }